VITE_SUPABASE_URL=https://ggochhzeiaquovapeowa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdnb2NoaHplaWFxdW92YXBlb3dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1OTk0MDUsImV4cCI6MjEwNDE3NTQwNX0.OINw7jdJqdy8EocDP3MPc5K1npwcSrnQ7VzZxDUiKnQ
VITE_API_URL=http://localhost:5000/api